.hermano{
    background-color: rgb(255, 242, 127);
    width: max-content;
    height:max-content;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding:5px;
}