.hijo{
    background-color: aquamarine;
    width: max-content;
    /* height: 75%; */
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}